
@{
    ViewData["Title"] = "คำนวน";
}

<h1>Index</h1>

เงินออมปัจจุบัน = Saving.Wealt

<center><a class="btn btn-primary" asp-controller="Calculate" asp-action="Create">เพิ่มแผน</a></center>

<div style="padding: 40px; border-style: solid;">แผน 1 <br> รายละเอียดแผน XXXXXXXX <br/> ผลลัพธ์ xxxxxx <br /> <a href="#">รายละเอียด</a> </div>